{# Inclui o template principal nesta página #}
{% extends '_template.html' %}

{# Bloco com conteúdo desta página #}
{% block conteudo %}
<h1>Mar de Chocolate</h1>


<p> Bem-vindo à Mar de Chocolate, um doce refúgio para os amantes de sobremesas! Nossa confeitaria nasceu da paixão por criar experiências inesquecíveis através do sabor e da arte da pâtisserie. Localizada no coração da cidade, oferecemos uma variedade de delícias feitas com ingredientes frescos e de alta qualidade.</p>

<p> Na Mar de Chocolate, cada receita é elaborada com carinho e dedicação. Nossos chocolates são cuidadosamente selecionados, garantindo que cada mordida seja uma explosão de sabor. Desde bolos clássicos até doces inovadores, nossa equipe de confeiteiros talentosos está sempre em busca de novas combinações que surpreendam e encantem nossos clientes.</p>
    
<p> Além de nossos produtos de confeitaria, promovemos um ambiente acolhedor e convidativo, ideal para encontros com amigos, celebrações especiais ou simplesmente para saborear um momento de prazer. Aqui, acreditamos que cada doce conta uma história, e estamos ansiosos para compartilhar a nossa com você.</p>
    
<p>Venha nos visitar e descubra o sabor do verdadeiro chocolate! Na Mar de Chocolate, a felicidade é feita de açúcar e cacau. </p>
</main>

<p><button class="btnBackHome" onclick="location.href='/'">Voltar para a Página Principal</button></p>

{% endblock %}